<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src *; style-src 'self' 'unsafe-inline'; script-src 'self'">
    <link rel="shortcut icon" type="image/x-icon" sizes="196x196" href="/static/favicon.png" />
    <title>Athenaeum Obscura</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <header>
        <h1>Athenaeum Obscura <code>v{{ version }}</code></h1>
        <p style="color: #9f9f9f;"><i>A platform for hosting static websites</i></p>
    </header>